html,body{
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
}

.fa-hand-rock, .fa-hand-paper, .fa-hand-scissors{
    font-size: 4rem;
    cursor: pointer;
    font-weight: bolder;
    justify-content: space-between;
}
#message{
    display: none;
    /* background-color: black; */
    width: fit-content; 
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    /* color: white; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.fa-user, .fa-desktop{
    font-size: 2rem;
}

.col-4{
    border: 1px solid black ;
    width: 50px;
    height: 70px;
    border-radius: 50px;
    padding: 0;
    /* margin: 2px    ; */
}
#rock:hover, #paper:hover, #scissors:hover{
    color: white;
    background-color: black ;   
}
.boards,  .select{ 
    display: none;
 }
.player, .fa-user{
    color: rgb(23, 23, 116);
    font-weight: bolder;
}
#playerScore, #computerScore, #computerSelect, #playerSelect{
    color: black;   
}
.computer, .fa-desktop{
    color: orange;
    font-weight: bolder;
}
#playerSide, #computerSide{
    height: 200px;
}
/* .col{
    border: 1px solid black;    
} */