.outer{
    height: 100vh;   
}
.container{
    padding: 0;
    margin: 20px auto;
}
.outer .col-md-4{
    padding: 0;
}

.display-4{
    border-bottom: 2px solid black;
    background-color: cadetblue;
    color: aliceblue;
}

.todo-section .display-4{
    text-align: center;
}
.todo-section{
    border: 2px solid black;
    height: 100%;
    margin: 10px;
}
.main-btn-outer{
    width: 100% auto;
    text-align: center;
}