.single-photo{
    margin-bottom: 20px;
    /* margin: 10px 0;
    display: flex;
    justify-content: center; */
}
.btns{
    display: flex;
}
.photo-img{
    height: 220px;
}
.post-container{
    margin-top: 10px;
}
.spinner{
    margin: 50px 0;
}
.post-header{
    text-align: left;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}
.action-btn-outer{
    text-align: right;
    display: flex;
    justify-content: space-around;
}
.action-btn-outer .btn{
    margin-left: 10px;
}
.post-time{
    margin-bottom: 0;
    opacity: 0.6;
}
.btn-inner{
    display: flex;
    justify-content: space-around;
}
.chat-list-item .member-list-item{
    text-align: left;
}
