.single-photo{
    margin: 10px 0;
    display: flex;
    justify-content: center;
}
.photo-img{
    height: 220px;
}
.post-container{
    width: 400px;
}
.spinner{
    margin: 20px 0;
}
.post-header{
    text-align: left;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}
.action-btn-outer{
    display: flex;
    justify-content: space-around;
}
.post-time{
    margin-bottom: 0;
    opacity: 0.6;
}
.btns{
    display: flex;
}