.to-do-list{
    text-align: left;
}
.action-btns{
    display: flex;
    justify-content: space-around;
    padding: 0;
}
.to-do-input:focus{
    box-shadow: none;
    border-color: #1118;
}
.to-do-input-btn{
    box-shadow: none;
}
.action-btns .btn{
    border-radius: 20px;
    display: grid;
    place-items: center;
    height: 30px;
}
.completed{
    text-decoration: line-through;
}
/* .list-group-item{
    display: flexbox;
} */